.footer {
    position: fixed;
    width: 360px;
    height: 58px;
    left: 0px;
    top: 582px;
    background: #C4C4C4;
}

 .drink {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 16px;
    top: 591px;
 }

 .food {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 302px;
    top: 593px;
 }
