.footer {
  align-items: center;
  background: #c4c4c4;
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.drink {

  /* bottom: 1.3%; */
  height: 40px;
  margin-left: 20px;
  padding: 7px;
  width: 40px;
}

.food {

  /* bottom: 1.3%; */

  /* left: 302px; */

  /* position: fixed; */
  height: 40px;
  margin-right: 20px;
  padding: 7px;
  width: 40px;


}
