.card-image {
  width: 150px;
}

.card {
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
  width: 200px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  justify-items: center;
  padding: 7px;
}

.header-inputs {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  justify-items: center;
  padding: 7px;
}

.page-title {
  width: 60%;
}
