.card-image {
  width: 100%;
}

.recipe-card {
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
}

.cards {
  color: inherit;
  text-decoration: none;
  width: 50%;
}

.cards:nth-last-of-type( 1 ) {
  margin-bottom: 60px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.header-container {
  align-items: center;
  background-color: #ae2012;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
}

.header {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  justify-items: center;
  padding: 7px;
  width: 100%;
}

.page-title {
  text-align: center;
  width: 60%;
}

.profile-email {
  font-size: 1.8em;
}

.profile-container {
  margin: auto;
  width: 95%;
}

.recipe-details-photo {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.recomendation-img {
  padding: 7px;
  width: 45%;
}

.recomendation-card {
  display: flex;
  width: 100%;
}

.carousel {
  margin: 10px;

  /* margin-left: 100px;
  width: 80%; */

}

.progress-recipe {
  bottom: 0;
  position: fixed;
  z-index: 100;
}
